.footer-bottom {
	min-height: 100vh;
	display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.not-found__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}