.post-banner {
    padding: 90px; 
}

.post-banner__container {
    height: 300px;
    border-radius: 12px;
    overflow: hidden;

    padding: 0;
    max-width: 1200px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post {
    max-width: 800px;
}

.post-content {
    padding-bottom: 110px;
}

.post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 30px;    
}

.post-category {
    margin-right: 20px;
    display: inline-block;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 21px;
    background: #fff;
    color: #131313;
}

.post-date {
    font-size: 16px;
    line-height: 21px;
    color: rgb(255, 255, 255);
}

.post-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
}

.post p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
}

.post-links {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}

.post-links__link {
    display: inline-flex;
    align-items: center;
    padding: 0 17px;
    height: 43px;
    background-color: #fff;
    color: #131313;
    border-radius: 12px;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
}

.post-links__link--prev {
    background-image: url('../img/arrow-left.svg');
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}


.post-links__link--next {
    background-image: url('../img/arrow-right.svg');
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    padding-right: 40px;
}
